<div class="d-flex gap-2 justify-content-center flex-wrap">
  <div
    *ngFor="let subject of subjects"
    class="card"
    style="width: 18rem;"
  >
    <div class="card-body">
      <h5 class="card-title">{{subject.name}}</h5>
      <h6 class="card-subtitle mb-2 text-body-secondary">Subject subtitle</h6>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div>
  </div>
</div>
