<div class="mb-3 pb-3 border-bottom d-flex justify-content-end">
  <a
    href="javascript:void(0)"
    class="btn btn-outline-primary"
    routerLink="manage"
  >Create subject</a>
</div>
<div class="d-flex gap-2 justify-content-center flex-wrap">
  <div
    *ngFor="let subject of subjects"
    class="card"
    style="width: 25rem;"
  >
    <div class="card-body">
      <h5 class="card-title">{{subject.name}}</h5>
      <h6 class="card-subtitle mb-2 text-body-secondary">Subject subtitle</h6>
      <p class="card-text">{{subject.description}}</p>
      <a href="javascript:void(0)" [routerLink]="'manage/' + subject.id" class="card-link">Edit</a>
      <a href="javascript:void(0)" class="card-link text-danger">Delete</a>
    </div>
  </div>
</div>
